@charset "utf-8";
.pages {
  display: inline-block;
  height: 26px;
}
.pages #Pagination .pagination {
  height: 26px;
  text-align: right;
  font-family: \u5b8b\u4f53,Arial;
}
.pages #Pagination {
  float: left;
}
.pages #Pagination .page-sum {
    display: none;
    overflow: none;
}
.pages #Pagination .pagination a {
  float: left;
  width: 24px;
  border: 1px solid #dedede;
  background: #fff;
  color: #656565;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 12px;
  cursor: pointer;
  margin-right: 14px;
  line-height: 24px;
  text-align: center;
}
.pages #Pagination .pagination span {
  float: left;
  width: 24px;
  font-size: 12px;
   background: #fff;
  color: #656565;
  line-height: 24px;
  text-align: center;
}
.pages #Pagination .pagination .current {
  background: #025ac4;
  color: #fff;
}
.pages #Pagination .pagination .prev,
.pages #Pagination .pagination .next {
  float: left;
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  color: #666666;
  cursor: pointer;
  font-family: "宋体";
}
.pages #Pagination .pagination .prev i,
.pages #Pagination .pagination .next i {
  display: inline-block;
  width: 4px;
  height: 11px;
  margin-right: 5px;
  background: url(../images/icon.fw.png) no-repeat;
}
.pages #Pagination .pagination .prev i {
  background-position: -144px -1px;
  *background-position: -144px -4px;
}
.pages #Pagination .pagination .next i {
  background-position: -156px -1px;
  *background-position: -156px -4px;
}
.pages #Pagination .pagination .pagination-break {
  border: none;
  background: none;
  cursor: default;
  margin-left: -14px;
}
.pages .searchPage {
  float: left;
}
.pages .searchPage .page-go {
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
  color: #3f3f3f;
  line-height: 24px;
}
.pages .searchPage .page-go input {
  width: 24px;
  height: 24px;
  margin-right: 14px;
  margin-left: 8px;
  border: 1px solid #dedede;
  text-align: center;
}
.pages .searchPage .page-btn {
  padding: 0 8px;
  color: #3f3f3f;
  font-family: Arial, 'Microsoft YaHei';
  font-size: 14px;
  line-height: 26px;
}
