@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
a:link,a:visited,a:hover,a:active{text-decoration:none;} 
.jwrap{
	width:100%;height:100%;background:#fbfbfb;
}
.jhead{
	width:100%;height:74px;border-bottom: 1px solid #e5e5e5;background: #fff;
}
.jlogol a {
	display: block;
	height: 100%;
}
.jlogo{width: 1000px;height:74px; overflow: hidden;line-height:74px;margin: 0 auto;}
.jlogo .jlogol{width: 215px;height: 42px;float: left;background: url(../image/logo.png)0 0 no-repeat;margin-top: 20px;}
.jlogo .jlogor{width: 155px;height: 42px;float: right;text-align: right; line-height: 42px;color: #3f3f3f;font-size: 14px;margin-top: 20px;}
.jlogo .jlogor a{text-decoration: none;color: #727272;}
.jnar{
	width: 1000px;height: 632px;margin:60px auto;background: #fff;border: 1px solid #e5e5e5;font-weight: bolder;color: #3f3f3f;
}
.jfand{width: 100px;margin-top: 52px;margin-left:107px;color: #5e5e5e;font-size: 19px;}
.jjindu{
	width:500px;margin: 70px auto;color: #5e5e5e;
}
.jshuru{
	width: 500px;text-align: right;
}
.jshuru .jsr{width: 500px;height: 38px;margin-top:20px;}
.jshuru .jsr .jinput{width: 360px;height: 36px;border: 1px solid #E5E5E5;padding-left: 6px;font-size:16px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;font-size: 14px;}
.jjindu .jyes{
	width: 108px;height: 38px;background: #005bc3;text-align: center;line-height: 38px;
	border-radius: 3px;margin-left: 130px;margin-top: 50px;color:#fff;font-size: 16px;border: none;
}




