@charset "utf-8";
/*=========================Reset_start==========================*/
body,h1,h2,h3,h4,h5,h6,div,p,dl,dt,dd,ol,ul,li,form,table,th,td,a,img,span,strong,var,em,input,textarea,select,option{margin: 0; padding: 0;}
html,body{font-family:"微软雅黑","宋体",Arail,Tabhoma; font-size: 12px; text-align: left;}
ul,ol{list-style: none;}
img{border: 0;}
input,select,textarea{outline:0;}
textarea{resize:none; overflow: auto;}
table{border-collapse: collapse; border-spacing: 0;}
th,strong,var,em{font-weight: normal; font-style: normal;}
a{text-decoration: none;}
a:link,a:visited,a:hover,a:active{text-decoration:none;} 
.jwrap{
	width:100%;height:100%;background:#fbfbfb;
}
.jhead{
	width:100%;height:74px;border-bottom: 1px solid #e5e5e5;background: #fff;
}
.jlogol a {
	display: block;
	height: 100%;
}
.jlogo{width: 1000px;height:74px; overflow: hidden;line-height:74px;margin: 0 auto;}
.jlogo .jlogol{width: 215px;height: 42px;float: left;background: url(../image/logo.png)0 0 no-repeat;margin-top: 20px;}
.jlogo .jlogor{width: 155px;height: 42px;float: right;text-align: right; line-height: 42px;color: #343434;font-size: 14px;margin-top: 20px;}
.jlogo .jlogor a{text-decoration: none;color: #727272;}
.jnar{
	width: 1000px;height: 632px;margin:60px auto;background: #fff;border: 1px solid #e5e5e5;font-weight: bolder;color: #333;
}
.jfand{width: 100px;margin-top: 52px;margin-left:107px;font-size: 19px;}
.jjindu{
	width:780px;overflow: hidden;margin: 50px auto;
}
.jul1 li{margin-top: 13px;}
.jul1{
	width: 193px;position: relative;float: left;
}
.jli1{width: 195px;height: 6px;border-radius:2px;background: #005bc3;}
.jli2{
	width: 32px;height: 32px;border-radius: 32px;color: #fff;text-align: center;line-height: 32px;position: absolute;left: 80px;top: -13px;background: #005bc3;
	}
.jli3{
	width:195px;height:14px;text-align:center;color:#005bc3;
	font-size: 14px;position: absolute;left: 0;top: 35px;
}
.jul2{margin-right: -2px;}
.jul2 .jli1,.jul2 .jli2{background:#ccc;}
.jul2 .jli3{color: #666;}



.RetrievePasswordOne {width:770px; height: 320px;margin-top: 80px;}
.RetrievePasswordOne .julyanzheng{width: 452px;margin:0px auto;margin-top: 120px;}
.RetrievePasswordOne .julyanzheng li{
	width: 451px;height: 38px;margin-bottom:18px;
}
.RetrievePasswordOne .julyanzheng li span{font-size: 12px;color: #5e5e5e;}
.RetrievePasswordOne .julyanzheng .jyanzhengli1 input{width:366px;height: 38px;border: 1px solid #ccc;outline: none;font-size: 12px;color:#ababab;padding-left: 15px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;}
.RetrievePasswordOne .julyanzheng .jyanzhengli2 input{
	width:133px;height: 38px;border: 1px solid #ccc;outline: none;font-size: 12px;color: #ababab;
	padding-left: 15px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;
}
.RetrievePasswordOne .julyanzheng .jyanzhengli2 a{text-decoration: none;color: red;}
.RetrievePasswordOne #jyzm{
	width: 90px;height: 38px;border: none;outline: none;
}
.RetrievePasswordOne .jnext1{
	width: 108px;height: 38px;background: #005bc4;text-align: center;line-height: 38px;
	border-radius: 3px;margin-left: 350px;margin-top: 50px;color: #fff;cursor: pointer;
}
.RetrievePasswordOne .jnext1:hover{background: #00150ab;}




.RetrievePasswordTwo {width:770px; height: 320px;margin-top: 70px;display: none;}
.RetrievePasswordTwo .julyanzheng{width: 452px;margin:0px auto;margin-top:215px;}
.RetrievePasswordTwo .julyanzheng li{
	width: 451px;height: 38px;margin-bottom:18px;text-align: right;
}
.RetrievePasswordTwo .julyanzheng li span{font-size: 12px;color: #5e5e5e;}
.RetrievePasswordTwo .julyanzheng .jyanzhengli1 .jinput1{width:178px;height: 36px;border: 1px solid #ccc;outline: none;font-size: 12px;color:#ababab;padding-left: 15px;margin-right: 70px;border-radius: 3px;background: #fbfbfb;color: #3F3F3F; }
.RetrievePasswordTwo .julyanzheng .jyanzhengli2 .jinput2{
	width:135px;height: 36px;border: 1px solid #ccc;outline: none;font-size: 12px;color: #ababab;
	padding-left: 15px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;
}
.RetrievePasswordTwo .julyanzheng .jyanzhengli2 .jinput3{
	width: 93px;height:38px;color: #fff;background: #005bc3;margin-left: 20px;border: none;border-radius:3px;
}
.RetrievePasswordTwo .jnext2{
	width: 108px;height: 38px;background:#005bc4;text-align: center;line-height: 38px;
	border-radius: 3px;margin-left: 350px;margin-top: 50px;color: #fff;cursor: pointer;
}
.RetrievePasswordTwo .jnext1:hover{background: #00150ab;}



.RetrievePasswordThree {width:770px; height: 320px;margin-top: 70px;text-align: center;display: none;}
.RetrievePasswordThree .julyanzheng{width: 452px;margin:0px auto;margin-top: 215px;}
.RetrievePasswordThree .julyanzheng li{
	width: 451px;height: 38px;margin-bottom:18px;text-align: right;
}
.RetrievePasswordThree .julyanzheng li span{font-size: 12px;color: #5e5e5e;}
.RetrievePasswordThree .julyanzheng .jyanzhengli1 .jinput1{width:240px;height: 36px;border: 1px solid #ccc;outline: none;font-size: 12px;color:#ababab;padding-left: 15px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;}
.RetrievePasswordThree .julyanzheng .jyanzhengli2 .jinput2{
	width:240px;height: 36px;border: 1px solid #ccc;outline: none;font-size: 12px;color: #ababab;
	padding-left: 15px;border-radius: 3px;background: #fbfbfb;color: #3f3f3f;
}
.RetrievePasswordThree .jnext3{
	width: 108px;height: 38px;background: #005bc3;text-align: center;line-height: 38px;
	border-radius:3px;margin-left: 350px;margin-top: 50px;color: #fff;cursor: pointer;
}
.RetrievePasswordThree .jnext3:hover{background: #00150ab;}


.RetrievePasswordFour {width:770px; height: 320px;margin-top: 70px;text-align: center;display: none;}
.RetrievePasswordFour .jsuccess{width: 570px;margin:0px auto;margin-top: 215px;}
.RetrievePasswordFour .jsuccess .jp1{width: 510px;height:30px;font-size: 29px;color: #5d5d5d;text-align: center;margin: 0 auto;}
.RetrievePasswordFour .jsuccess .jp2{width:570px;height:20px;font-size: 14px;color: #333;margin-top:40px;margin-left: 35px;}
.RetrievePasswordFour .jsuccess .jp2 a{text-decoration: none;color:#005bc2;}

.RetrievePasswordOne #p0{
	width: 300px;height: 14px;color: coral;position: relative;left: 210px;top:115px;font-size: 12px;
}


.fool {
	width: 100%;
	height: 60px;
	border-top: 1px solid #e5e5e5;
	font-size: 10px;
	background: #fbfbfb;
	text-align: center;
	line-height: 60px;
	position: fixed;
	bottom: 0;
	color: #3f3f3f;
}