#lformwrap th,
#lformwrap td,
#lformwrap h2,
#lformwrap form,
#lformwrap h3 ,
#lformwrap input {
	margin: 0;
	padding: 0;
}
#lformwrap table,
#lformwrap tr,
#lformwrap td ,
#lformwrap th {
	border: 1px solid #000;
	border-collapse: collapse;
	font-size: 14px;
	text-align: center;
}
#lformwrap table {
	border: none;
}
#lformwrap .lforms th,
#lformwrap .lforms td {
	width: 130px ;
	height: 36px;
	font-weight: normal;
	color: #000;
}
#lformwrap .lforms input {
	width: 90% ;
	outline: none !important;
	border: none !important;
	height: 90%;
}
#lformwrap .lforms {
	width: 850px;
}
#lformwrap .lforms {
	margin: 0 auto;
}
#lformwrap .lforms .lh2s th ,
#lformwrap .lforms .lh2s {
	border: none;
}
#lformwrap .lforms .ltr2 input {
	border-bottom: 1px solid #000 !important;
} 
#lformwrap .lforms .lnyr {
	width: 34px ;
	text-align: center;
}
#lformwrap .lforms .laudit {

}
#lformwrap .lright {
	text-align: right;
}
#lformwrap .laudit {
	width: 80px !important;
}
#lformwrap .lnyr2 {
	width: 40px!important;
	text-align: center;
}
#lformwrap .lrights {
	text-align: right;
	padding-right: 10px;
	
}
#lformwrap .lheight90 {
	height: 90px;
}
 #lformwrap input:hover,
 #lformwrap input,
#lformwrap input:hover:focus,
#lformwrap input:hover:active {
	box-shadow:inset 0 0 #fff;
	-webkit-box-shadow: inset 0 0 #fff;
	-moz-box-shadow: inset 0 0 #fff;
	-ms-box-shadow: inset 0 0 #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
}
#lformwrap .lrow1 input {
	height: 50%;
}